<!-- Sub Top Navigation -->
<!-- <topbar-dashboard-visualization></topbar-dashboard-visualization> -->

<!-- Right Sidebar -->
<!-- <rightbar-dashboard-visualization
  [paramEdit]="paramEdit"
  [messages]="messages"
  [charts]="charts"
  [chartList]="chartList"
  [refreshDashboard]="refreshDashboard"
  [removeDashboardFromContent]="removeDashboardFromContent"
  [initial]="initial"
  [loadChart]="loadChart"
  [loadDashboard]="loadDashboard"
  [initialDragDrop]="initialDragDrop"
></rightbar-dashboard-visualization> -->

<!-- Left Sidebar -->
<!-- <leftbar-dashboard-visualization
  [isLoadingCharts]="isLoadingCharts"
  [isLoadingDashboards]="isLoadingDashboards"
  [masterDataChart]="masterDataChart"
  [masterDataDashboard]="masterDataDashboard"
  [dashboardList]="dashboardList"
  [messages]="messages"
  [paramEdit]="paramEdit"
  [visualizationTypeList]="visualizationTypeList"
  [chartList]="chartList"
  [renderOverlay]="renderOverlay"
  [gridPos]="gridPos"
  [position]="position"
  [rowPosition]="rowPosition"
  [charts]="charts"
  [addCompChart]="addCompChart"
  [injectComp]="injectComp"
  [component]="component"
  [index]="index"
  [removeDashboardFromContent]="removeDashboardFromContent"
  [getChartToSetDashboard]="getChartToSetDashboard"
  [initial]="initial"
  [loadChart]="loadChart"
  [loadDashboard]="loadDashboard"
  [initialDragDrop]="initialDragDrop"
  [loadDashboardToWorkspace]="loadDashboardToWorkspace"
></leftbar-dashboard-visualization> -->

<!-- Main Content -->
<!-- <section class="content">
  <div class="text-center mt-3 f-12" *ngIf="charts.length == 0">
    <p class="mb-0">{{ 'MODULE.DATA_VISUAL.DASHBOARD.COMMON.LABEL' | translate }}</p>
    <p>{{ 'MODULE.DATA_VISUAL.DASHBOARD.COMMON.LABEL2' | translate }}</p>
  </div>
  <div class="row clearfix" *ngIf="charts.length > 0">
    <div class="col-md-12">
      <h3>{{ dashboardTitle != '' ? dashboardTitle : 'Default' }}</h3>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12" *ngIf="isLoadingContent">
      <mat-spinner class="mat-spinner-color" [diameter]="60" style="margin: 0 auto"></mat-spinner>
      <h5 class="f-12 text-center mt-3">{{ 'MODULE.DATA_VISUAL.DASHBOARD.COMMON.LD' | translate }}</h5>
    </div>
  </div>
  <div class="grid-stack" id="rowDashboard" [ngClass]="{ 'dash-grid': charts.length > 0 }">
    <ng-template appInject> </ng-template>
  </div>
</section>

<ng-template #confirmationModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'MODULE.DATA_VISUAL.DASHBOARD.COMMON.CONFIRM' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      {{ 'MODULE.DATA_VISUAL.DASHBOARD.COMMON.DOYOU' | translate }}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
   
  </div>
</ng-template>

<ng-template #optionWidthChartModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'MODULE.DATA_VISUAL.DASHBOARD.COMMON.CW' | translate }}</h4>
  </div>
  <div class="modal-body">
    <mat-radio-group aria-label="select an option">
      <mat-radio-button (click)="position = 1">Full Size</mat-radio-button>
      <mat-radio-button (click)="position = 9">3/4 Size</mat-radio-button>
      <mat-radio-button (click)="position = 8">2/3 Size</mat-radio-button>
      <mat-radio-button (click)="position = 2">1/2 Size</mat-radio-button>
      <mat-radio-button (click)="position = 3">1/3 Size</mat-radio-button>
      <mat-radio-button (click)="position = 4">1/4 Size</mat-radio-button>
      <mat-radio-button (click)="position = 6">1/6 Size</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">
      {{ 'MODULE.DATA_VISUAL.DASHBOARD.COMMON.C' | translate }}
    </button>
  </div>
</ng-template>

<div class="modal fade show" id="alertDialog" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row text-center justify-content-center">
          <div class="col-auto align-self-center">
            <div class="w_icon orange"><i class="zmdi zmdi-alert-circle-o"></i></div>
          </div>
          <div class="col-8 align-self-center">
            <h5 class="f-15 m-auto" *ngFor="let msg of validate_messages">
              {{ msg }}
            </h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-info btn-outline btn-sm f-12 mx-auto mt-3" type="button" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div> -->

<!-- Sub Top Navigation -->
<!-- <topbar-dashboard-visualization
  [dashboardTitle]="dashboardTitle"
  [buttonNew]="buttonNew"
  [charts]="charts"
  [buttonSave]="buttonSave"
  [removeDashboardFromContent]="removeDashboardFromContent"
></topbar-dashboard-visualization> -->
<div class="row py-1 sub-top-nav">
  <div class="col-12 col-md-5">
    <div class="row">
      <div class="col-5 col-lg-6 pr-0">
        <div class="form-group mb-0">
          <input
            type="text"
            class="form-control form-bottomline mt-1"
            placeholder="{{ 'MODULE.DATA_VISUAL.DASHBOARD.TOP_BAR.BTN_DEFAULT' | translate }}"
            [(ngModel)]="dashboardTitle"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <div class="col-auto pr-0">
        <button
          class="btn btn-info btn-outline btn-icon btn-sm btn-outline-mini"
          mat-raised-button
          matTooltip="{{ 'MODULE.DATA_VISUAL.DASHBOARD.TOP_BAR.BTN_SAVE' | translate }}"
          (click)="buttonSave()"
        >
          <i class="ti-save"></i>
        </button>
        <button
          class="btn btn-info btn-outline btn-icon btn-sm btn-outline-mini"
          mat-raised-button
          matTooltip="{{ 'MODULE.DATA_VISUAL.DASHBOARD.TOP_BAR.BTN_NEW' | translate }}"
          (click)="buttonNew()"
        >
          <i class="ti-file"></i>
        </button>
        <button
          class="btn btn-info btn-outline btn-sm"
          mat-raised-button
          matTooltip="{{ 'MODULE.DATA_VISUAL.DASHBOARD.TOP_BAR.FP' | translate }}"
          (click)="getView()"
        >
          {{ 'MODULE.DATA_VISUAL.DASHBOARD.TOP_BAR.FP' | translate }} <i class="zmdi zmdi-desktop-windows ml-1"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-auto px-0 align-self-center">
    <ul class="nav nav-tabs nav-tabs-success" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link mb-0 px-3"
          data-toggle="tab"
          href="javascript:void()"
          [routerLink]="['../listdatavisualization']"
        >
          <i class="zmdi zmdi-chart"></i>
          {{ 'MODULE.DATA_VISUAL.CHART.LIST.subTopbarOptions.title' | translate | uppercase }}
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link mb-0 px-3 active"
          data-toggle="tab"
          href="javascript:void()"
          [routerLink]="['../dashboardvisualization']"
          ><i class="zmdi zmdi-view-dashboard"></i>
          {{ 'MODULE.DATA_VISUAL.DASHBOARD.LIST.subTopbarOptions.title' | translate | uppercase }}
        </a>
      </li>
    </ul>
  </div>
  <div class="col-auto ml-auto">
    <button
      [ngClass]="
        paramEdit?.id
          ? 'btn btn-info btn-outline btn-sm py-0 px-2'
          : 'btn btn-info btn-outline btn-sm py-0 px-2 disabled'
      "
      mat-raised-button
      matTooltip="{{ 'MODULE.DATA_VISUAL.DASHBOARD.TOP_BAR.BTN_SHARE' | translate }}"
      (click)="copyUrl()"
    >
      {{ 'MODULE.DATA_VISUAL.DASHBOARD.TOP_BAR.BTN_SHARE' | translate }}
      <i class="zmdi zmdi-link f-12 ml-1"></i>
    </button>
    <button
      [ngClass]="
        paramEdit?.id
          ? 'btn btn-info btn-outline btn-sm py-0 px-2'
          : 'btn btn-info btn-outline btn-sm py-0 px-2 disabled'
      "
      mat-raised-button
      matTooltip="{{ 'MODULE.DATA_VISUAL.DASHBOARD.TOP_BAR.BTN_SYNC' | translate }}"
      (click)="getView()"
    >
      {{ 'MODULE.DATA_VISUAL.DASHBOARD.TOP_BAR.BTN_SYNC' | translate }}
      <i class="zmdi zmdi-swap f-12 ml-1"></i>
    </button>
  </div>
</div>

<!-- Right Sidebar -->
<aside id="rightSidebar" class="navbar-right">
  <!-- <div class="menu"> -->
  <div class="panel-group m-0 h-100 overflow-auto" id="accordion_1" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary m-0">
      <div class="panel-heading" role="tab" id="headingOne_1">
        <h4 class="panel-title">
          <a
            class="menu-toggle text-uppercase"
            role="button"
            [ngClass]="{ toggled: activeColapse.dashboardProperty == true }"
            (click)="collapseOnClick('dashboardProperty')"
          >
            {{ 'MODULE.DATA_VISUAL.DASHBOARD.RIGHT_BAR.DP' | translate }}
          </a>
        </h4>
      </div>
      <div
        [ngClass]="{ show: activeColapse.dashboardProperty == true }"
        class="panel-collapse collapse in"
        role="tabpanel"
      >
        <div class="panel-body">
          <form class="form-horizontal">
            <div class="row clearfix">
              <div class="col-sm-12 form-control-label">
                <label for="last_run">Charts</label>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="form-line">
                    <ng-select
                      class="text-light"
                      [items]="chartList"
                      [multiple]="true"
                      [closeOnSelect]="true"
                      [searchable]="true"
                      bindLabel="name"
                      placeholder="{{ 'MODULE.DATA_VISUAL.CHART.RIGHT_BAR.S' | translate }} Charts"
                      (add)="loadChartToWorkspace($event, true)"
                      (clear)="buttonNew()"
                      (remove)="onChartDeleteInSelect($event)"
                      [(ngModel)]="charts"
                      [ngModelOptions]="{
                        standalone: true
                      }"
                    >
                      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items">
                          <span class="ng-value-label"> {{ item.name }}</span>
                          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-sm-12 form-control-label">
                <label for="email_address_2">{{ 'MODULE.DATA_VISUAL.DASHBOARD.RIGHT_BAR.DU' | translate }}</label>
              </div>
              <div class="col-sm-12">
                <div class="form-group mb-0">
                  <input type="text" id="query_id" class="form-control" placeholder="url_name" />
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-sm-12">
                <button
                  class="btn btn-danger btn-sm w-100 m-0 mt-4 p-2 f-10 text-white"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title=""
                  [attr.data-original-title]="'MODULE.DATA_VISUAL.DASHBOARD.RIGHT_BAR.DD' | translate"
                  [disabled]="paramEdit.id == null"
                  (click)="delete('dashboard', paramEdit)"
                >
                  {{ 'MODULE.DATA_VISUAL.DASHBOARD.RIGHT_BAR.DD' | translate }}
                  <i class="zmdi zmdi-delete f-12 ml-1"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="panel panel-primary m-0">
      <div class="panel-heading" role="tab" id="headingTwo_1">
        <h4 class="panel-title">
          <a
            class="menu-toggle collapsed text-uppercase"
            role="button"
            [ngClass]="{ toggled: activeColapse.dashboardOptions == true }"
            (click)="collapseOnClick('dashboardOptions')"
          >
            {{ 'MODULE.DATA_VISUAL.DASHBOARD.RIGHT_BAR.DO' | translate }}
          </a>
        </h4>
      </div>
      <div [ngClass]="{ show: activeColapse.dashboardOptions == true }" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">
          <form class="form-horizontal">
            <div class="row clearfix">
              <div class="col-sm-12">
                <button
                  class="btn btn-info btn-outline btn-sm w-100 m-0 mb-3 py-0 px-2"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  [attr.data-original-title]="'MODULE.DATA_VISUAL.DASHBOARD.RIGHT_BAR.RD' | translate"
                  [disabled]="paramEdit?.id == null"
                  (click)="refreshDashboard(paramEdit)"
                >
                  {{ 'MODULE.DATA_VISUAL.DASHBOARD.RIGHT_BAR.RD' | translate }}
                  <i class="zmdi zmdi-refresh-alt f-12 ml-1"></i>
                </button>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-sm-12">
                <label>{{ 'MODULE.DATA_VISUAL.DASHBOARD.RIGHT_BAR.AR' | translate }} </label>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <select class="form-control show-tick ms select2" data-placeholder="Select">
                    <option>
                      {{ 'MODULE.DATA_VISUAL.DASHBOARD.RIGHT_BAR.D' | translate }}
                    </option>
                    <option>
                      {{ 'MODULE.DATA_VISUAL.DASHBOARD.RIGHT_BAR.E' | translate }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="false" class="panel panel-primary m-0">
      <div class="panel-heading" role="tab" id="headingThree_1">
        <h4 class="panel-title">
          <a
            class="menu-toggle collapsed text-uppercase"
            role="button"
            data-toggle="collapse"
            data-parent="#accordion_1"
            href="#collapseThree_1"
            aria-expanded="false"
            aria-controls="collapseThree_1"
          >
            {{ 'MODULE.DATA_VISUAL.DASHBOARD.RIGHT_BAR.FO' | translate }}
          </a>
        </h4>
      </div>
      <div id="collapseThree_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree_1">
        <div class="panel-body">
          <form class="form-horizontal">
            <div class="row clearfix">
              <div class="col-lg-5 col-md-5 col-sm-6 form-control-label">
                <label>{{ 'MODULE.DATA_VISUAL.DASHBOARD.RIGHT_BAR.E' | translate }} </label>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6">
                <div class="form-group">
                  <select class="form-control show-tick ms select2" data-placeholder="Select">
                    <option>
                      {{ 'MODULE.DATA_VISUAL.DASHBOARD.RIGHT_BAR.T' | translate }}
                    </option>
                    <option>
                      {{ 'MODULE.DATA_VISUAL.DASHBOARD.RIGHT_BAR.F' | translate }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-lg-5 col-md-5 col-sm-6 form-control-label">
                <label>Dataset</label>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6">
                <div class="form-group">
                  <select class="form-control show-tick ms select2" data-placeholder="Select">
                    <option>Dataset_01</option>
                    <option>Dataset_02</option>
                    <option>Dataset_03</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-lg-5 col-md-5 col-sm-6 form-control-label">
                <label>{{ 'MODULE.DATA_VISUAL.DASHBOARD.RIGHT_BAR.FC' | translate }} </label>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6">
                <div class="form-group">
                  <select class="form-control show-tick ms select2" data-placeholder="Select">
                    <option>prov_id</option>
                    <option>kec_id</option>
                    <option>kel_id</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-lg-5 col-md-5 col-sm-6 form-control-label">
                <label>{{ 'MODULE.DATA_VISUAL.DASHBOARD.RIGHT_BAR.C' | translate }} </label>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6">
                <div class="form-group">
                  <select class="form-control show-tick ms select2" data-placeholder="Select">
                    <option>Sum_x</option>
                    <option>Sum_y</option>
                    <option>Sum_z</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col-md-12">
                <div class="checkbox">
                  <input id="checkbox2" type="checkbox" checked="" />
                  <label for="checkbox2">
                    {{ 'MODULE.DATA_VISUAL.DASHBOARD.RIGHT_BAR.DF' | translate }}
                  </label>
                </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col-md-12">
                <div class="checkbox">
                  <input id="checkbox3" type="checkbox" checked="" />
                  <label for="checkbox3">
                    {{ 'MODULE.DATA_VISUAL.DASHBOARD.RIGHT_BAR.IF' | translate }}
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->

  <div class="hide-menu rtl-sidebar" (click)="handleShowAndHideSidebar('right')">
    <div
      class="btn-toggle btn-toggle-menu"
      data-toggle="tooltip"
      data-placement="left"
      [attr.data-original-title]="'MODULE.DATA_VISUAL.DASHBOARD.RIGHT_BAR.HIDE' | translate"
    >
      <a href="javascript:void(0);" class="btn-menu"></a>
    </div>
  </div>
</aside>

<!-- Left Sidebar -->
<aside id="leftSidebar" class="sidebar">
  <div class="menu">
    <!-- Only required for left/right tabs -->
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a [ngClass]="{ 'nav-link': true, active: activeTab === 'tabChart' }" (click)="tabOnClick('tabChart')">
            <div class="loader loader--style1" title="0" *ngIf="isLoadingCharts">
              <svg
                version="1.1"
                id="loader-1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                width="20px"
                height="20px"
                viewBox="0 0 40 40"
                enable-background="new 0 0 40 40"
                xml:space="preserve"
              >
                <path
                  opacity="0.2"
                  fill="#000"
                  d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                            s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                            c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"
                />
                <path
                  fill="#000"
                  d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                            C22.32,8.481,24.301,9.057,26.013,10.047z"
                >
                  <animateTransform
                    attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 20 20"
                    to="360 20 20"
                    dur="0.5s"
                    repeatCount="indefinite"
                  />
                </path>
              </svg>
            </div>
            {{ 'MODULE.DATA_VISUAL.DASHBOARD.LEFT_BAR.CL' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a
            [ngClass]="{ 'nav-link': true, active: activeTab === 'tabDashboard' }"
            (click)="tabOnClick('tabDashboard')"
          >
            <div class="loader loader--style1" title="0" *ngIf="isLoadingDashboards">
              <svg
                version="1.1"
                id="loader-1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                width="20px"
                height="20px"
                viewBox="0 0 40 40"
                enable-background="new 0 0 40 40"
                xml:space="preserve"
              >
                <path
                  opacity="0.2"
                  fill="#000"
                  d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                            s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                            c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"
                />
                <path
                  fill="#000"
                  d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                            C22.32,8.481,24.301,9.057,26.013,10.047z"
                >
                  <animateTransform
                    attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 20 20"
                    to="360 20 20"
                    dur="0.5s"
                    repeatCount="indefinite"
                  />
                </path>
              </svg>
            </div>
            {{ 'MODULE.DATA_VISUAL.DASHBOARD.LEFT_BAR.DL' | translate }}
          </a>
        </li>
      </ul>
      <div class="tab-content list dv-sidebar">
        <div [ngClass]="{ 'tab-pane': true, active: activeTab === 'tabChart' }">
          <div class="row clearfix">
            <div class="col-sm-10 pr-2 mb-1">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ 'MODULE.DATA_VISUAL.DASHBOARD.LEFT_BAR.SCN' | translate }}"
                  [(ngModel)]="searchChartText"
                  [ngModelOptions]="{ standalone: true }"
                  (keyup)="$event.which == 13 ? searchChart() : 0"
                />
                <div class="input-group-append">
                  <a href="javascript:void(0)" class="input-group-text p-0 pt-1"
                    ><span class="input-group-addon mx-2"><i class="ti-search f-12"></i></span
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-sm-2 pl-0">
              <a
                href="javascript:void(0)"
                class="p-1"
                (click)="loadChart()"
                data-toggle="tooltip"
                data-placement="bottom"
                [attr.data-original-title]="'MODULE.DATA_VISUAL.DASHBOARD.LEFT_BAR.RCL' | translate"
                ><i class="ti-reload"></i
              ></a>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-sm-10 pr-2">
              <button
                id="selectall"
                type="checkbox"
                class="btn btn-info btn-outline btn-sm w-100 mb-1 mt-1 ml-0"
                data-toggle="tooltip"
                [attr.data-placement]="'bottom'"
                [attr.data-original-title]="'MODULE.DATA_VISUAL.DASHBOARD.LEFT_BAR.SA' | translate"
                (click)="checkUncheckAll('chart')"
              >
                {{ 'MODULE.DATA_VISUAL.DASHBOARD.LEFT_BAR.SA' | translate }}
                &nbsp;<i class="zmdi zmdi-check-square f-12 ml-1"></i>
              </button>
            </div>
            <div class="col-sm-2 pl-0 mt-1">
              <a
                *ngIf="selectedChartListforDelete.length > 0"
                href="javascript:void(0)"
                id="deletebutton"
                class="p-1"
                data-toggle="tooltip"
                data-placement="bottom"
                title="{{ 'MODULE.DATA_VISUAL.DASHBOARD.LEFT_BAR.D' | translate }}"
                (click)="multipleDelete('chart')"
                ><i class="ti-trash"></i
              ></a>
            </div>
          </div>
          <div class="panel-group mt-1 dv-sc" id="accordion_1" role="tablist" aria-multiselectable="true">
            <div *ngIf="chartList.length == 0" class="panel panel-primary m-0">
              <br />
              <h6 align="center">
                {{ 'MODULE.DATA_VISUAL.DASHBOARD.LEFT_BAR.ND' | translate }}
              </h6>
            </div>
            <div class="panel panel-primary m-0" *ngFor="let chart of chartList">
              <div class="panel-heading">
                <h4 class="panel-title align-self-center">
                  <div class="row clearfix">
                    <div class="col-md-2 pl-4 align-self-center">
                      <div class="checkbox simple individual">
                        <input
                          id="{{ 'mcc-' + chart.id }}"
                          type="checkbox"
                          [(ngModel)]="chart.isChecked"
                          (change)="checkedList(chart.id, chart.isChecked, 'chart')"
                        />
                        <label for="{{ 'mcc-' + chart.id }}"></label>
                      </div>
                    </div>
                    <div class="col-md-8 px-0">
                      <a
                        role="button"
                        data-toggle="collapse"
                        href="javascript:void()"
                        (dblclick)="loadChartToWorkspace(chart)"
                      >
                        <p class="mb-0">
                          <span class="zmdi zmdi-chart text-center m-0 mr-1 align-middle"></span>{{ chart.name }} |
                          {{ chart.viz_type }}
                        </p>
                        <span class="ml-0">{{ chart.changed_on | dateformat: 'DD/MM/YYYY' }}</span
                        ><br />
                        <span class="ml-0">{{ chart.ds_name }}</span>
                      </a>
                    </div>
                    <div class="col-md-1 align-self-center p-0">
                      <div class="dropdown">
                        <a
                          href="javascript:void(0);"
                          class="dropdown-toggle pr-2 float-right"
                          data-toggle="dropdown"
                          role="button"
                          aria-haspopup="true"
                          aria-expanded="false"
                          (click)="handleSelectOption('chart', chart.id)"
                        >
                          <i class="zmdi zmdi-more-vert d-inline"></i>
                        </a>
                        <ul
                          class="dropdown-menu dropdown-menu-right"
                          [ngClass]="{ show: selectedTypeOption === 'chart' && selectedOptionId === chart.id }"
                        >
                          <li>
                            <a href="javascript:void(0);" (click)="loadChartToWorkspace(chart)">{{
                              'MODULE.DATA_VISUAL.DASHBOARD.LEFT_BAR.LD' | translate
                            }}</a>
                          </li>
                          <li>
                            <a href="javascript:void(0);" (click)="delete('chart', chart)">{{
                              'MODULE.DATA_VISUAL.DASHBOARD.LEFT_BAR.D' | translate
                            }}</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div [ngClass]="{ 'tab-pane': true, active: activeTab === 'tabDashboard' }">
          <div class="row clearfix">
            <div class="col-sm-10 pr-2 mb-1">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ 'MODULE.DATA_VISUAL.DASHBOARD.LEFT_BAR.SDN' | translate }}"
                  [(ngModel)]="searchDashboardText"
                  [ngModelOptions]="{ standalone: true }"
                  (keyup)="$event.which == 13 ? searchDashboard() : 0"
                />
                <div class="input-group-append">
                  <a href="javascript:void(0)" class="input-group-text p-0 pt-1"
                    ><span class="input-group-addon mx-2"><i class="ti-search f-12"></i></span
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-sm-2 pl-0">
              <a
                href="javascript:void(0)"
                class="p-1"
                (click)="loadDashboard()"
                data-toggle="tooltip"
                data-placement="bottom"
                [attr.data-original-title]="'MODULE.DATA_VISUAL.DASHBOARD.LEFT_BAR.RDL' | translate"
                ><i class="ti-reload"></i
              ></a>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-sm-10 pr-2">
              <button
                id="selectall"
                type="checkbox"
                class="btn btn-info btn-outline btn-sm w-100 mt-1 ml-0"
                data-toggle="tooltip"
                [attr.data-placement]="'bottom'"
                [attr.data-original-title]="'MODULE.DATA_VISUAL.DASHBOARD.LEFT_BAR.SA' | translate"
                (click)="checkUncheckAll('dashboard')"
              >
                {{ 'MODULE.DATA_VISUAL.DASHBOARD.LEFT_BAR.SA' | translate }}
                &nbsp;<i class="zmdi zmdi-check-square f-12 ml-1"></i>
              </button>
            </div>
            <div class="col-sm-2 pl-0 mt-1">
              <a
                *ngIf="selectedDashboardListforDelete.length > 0"
                href="javascript:void(0)"
                id="deletebutton"
                class="p-1"
                data-toggle="tooltip"
                data-placement="bottom"
                title="{{ 'MODULE.DATA_VISUAL.DASHBOARD.LEFT_BAR.D' | translate }} "
                (click)="multipleDelete('dashboard')"
                ><i class="ti-trash"></i
              ></a>
            </div>
          </div>
          <div class="panel-group mt-1 dv-sc" id="accordion_1" role="tablist" aria-multiselectable="true">
            <div *ngIf="dashboardList.length == 0" class="panel panel-primary m-0">
              <br />
              <h6 align="center">
                {{ 'MODULE.DATA_VISUAL.DASHBOARD.LEFT_BAR.ND' | translate }}
              </h6>
            </div>
            <div class="panel panel-primary m-0" *ngFor="let dashboard of dashboardList">
              <div class="panel-heading" role="tab" id="headingQuery1">
                <h4 class="panel-title align-self-center">
                  <div class="row clearfix">
                    <div class="col-md-2 pl-4 align-self-center">
                      <div class="checkbox simple individual">
                        <input
                          id="{{ 'mcd-' + dashboard.id }}"
                          type="checkbox"
                          [(ngModel)]="dashboard.isChecked"
                          (change)="checkedList(dashboard.id, dashboard.isChecked, 'dashboard')"
                        />
                        <label for="{{ 'mcd-' + dashboard.id }}"></label>
                      </div>
                    </div>
                    <div class="col-md-8 px-0">
                      <a
                        [ngClass]="paramEdit?.id == dashboard.id ? 'is-active' : ''"
                        role="button"
                        data-toggle="collapse"
                        aria-expanded="true"
                        (dblclick)="loadDashboardToWorkspace(dashboard)"
                        (click)="collapseDashboardAccordion(dashboard.id)"
                      >
                        <p class="mb-0">
                          {{ dashboard.dashboard_title }}
                        </p>
                        <span class="ml-0">{{
                          dashboard.changed_on | dateformat: 'DD/MM/YYYY
                          hh:mm:ss'
                        }}</span>
                        <span class="zmdi zmdi-more-vert f-8 mx-1"></span>
                        <span class="ml-0">
                          {{ dashboard.charts != null ? dashboard.charts.length : 0 }}
                          Charts</span
                        >
                      </a>
                    </div>
                    <div class="col-md-1 align-self-center p-0">
                      <div class="dropdown">
                        <a
                          href="javascript:void(0);"
                          class="dropdown-toggle pr-2 float-right"
                          (click)="handleSelectOption('dashboard', dashboard.id)"
                        >
                          <i class="zmdi zmdi-more-vert d-inline"></i>
                        </a>
                        <ul
                          class="dropdown-menu dropdown-menu-right"
                          [ngClass]="{ show: selectedTypeOption === 'dashboard' && selectedOptionId === dashboard.id }"
                        >
                          <li>
                            <a href="javascript:void(0);" (click)="loadDashboardToWorkspace(dashboard)">{{
                              'MODULE.DATA_VISUAL.DASHBOARD.LEFT_BAR.LD' | translate
                            }}</a>
                          </li>
                          <li>
                            <a href="javascript:void(0);" (click)="delete('dashboard', dashboard)">
                              {{ 'MODULE.DATA_VISUAL.DASHBOARD.LEFT_BAR.D' | translate }}</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </h4>
              </div>

              <!-- id="_{{ dashboard.id }}"
              role="tabpanel"  -->
              <div class="panel-collapse collapse in" [ngClass]="{ show: activeId === dashboard.id }">
                <div class="panel-body">
                  <div class="body">
                    <span *ngFor="let activeId of dashboard.charts">
                      <a href="javascript:void(0);" class="p-0">{{ getChartNameById(activeId) }}</a>
                      <hr class="my-2" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="hide-menu"
    (click)="handleShowAndHideSidebar('left')"
    data-toggle="tooltip"
    data-placement="right"
    [attr.data-original-title]="'MODULE.DATA_VISUAL.DASHBOARD.LEFT_BAR.HIDE' | translate"
  >
    <div class="btn-toggle btn-toggle-menu">
      <a href="javascript:void(0);" class="btn-menu"></a>
    </div>
  </div>
</aside>

<!-- Main Content -->
<section class="content">
  <div class="text-center mt-3 f-12" *ngIf="charts.length == 0">
    <p class="mb-0">
      {{ 'MODULE.DATA_VISUAL.DASHBOARD.COMMON.LABEL' | translate }}
    </p>
    <p>{{ 'MODULE.DATA_VISUAL.DASHBOARD.COMMON.LABEL2' | translate }}</p>
  </div>
  <div class="row clearfix" *ngIf="charts.length > 0">
    <div class="col-md-12">
      <h3>{{ dashboardTitle != '' ? dashboardTitle : 'Default' }}</h3>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12" *ngIf="isLoadingContent">
      <mat-spinner class="mat-spinner-color" [diameter]="60" style="margin: 0 auto"></mat-spinner>
      <h5 class="f-12 text-center mt-3">
        {{ 'MODULE.DATA_VISUAL.DASHBOARD.COMMON.LD' | translate }}
      </h5>
    </div>
  </div>
  <div class="grid-stack" id="rowDashboard" [ngClass]="{ 'dash-grid': charts.length > 0 }">
    <ng-template appInject> </ng-template>
  </div>
</section>
