<div>
  <div class="modal-header">
    <h5 class="title f-16">{{ 'MODULE.DATA_VISUAL.CHART.COMMON.ANC' | translate }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeFormula()" style="position: unset">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngx-monaco-editor class="template-editor" [options]="notifFormulaEditorOpts" [(ngModel)]="notifFormulaValue">
    </ngx-monaco-editor>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-neutral btn-simple btn-sm f-10" (click)="closeFormula()">
      {{ 'MODULE.DATA_VISUAL.CHART.COMMON.CL' | translate }}
    </button>
    <button class="btn btn-info btn-outline btn-sm" type="button" data-dismiss="modal" (click)="saveNotifications()">
      {{ 'MODULE.DATA_VISUAL.CHART.COMMON.S' | translate }}
    </button>
  </div>
</div>
