.dialog-common {
  background-color: #2e3435;
  border-radius: 3px;

  .dialog-common-wrapper {
    padding: 20px;

    .mat-dialog-actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;

      button {
        color: #d8d8d8;
        background-color: #383f43;
      }

      button:hover {
        background-color: #117a8b;
      }
    }
  }
}
