<aside id="rightSidebar" class="navbar-right">
  <div class="panel-group m-0 dp-h93v" id="accordion_1" role="tablist" aria-multiselectable="true">
    <!-- Query Command Button -->
    <div class="panel panel-primary m-0">
      <!-- Query Command Button Panel Header -->
      <div class="panel-heading" role="tab" id="headingTwo_1">
        <h4 class="panel-title">
          <a
            class="menu-toggle collapsed text-uppercase toggled"
            role="button"
            data-toggle="collapse"
            data-parent="#accordion_1"
            aria-expanded="false"
            aria-controls="collapseTwo_1"
          >
            <i
              class="zmdi zmdi-info"
              [matMenuTriggerFor]="popoverqueryCommands"
              #triggerpopoverqueryCommands="matMenuTrigger"
              menuEnter
            ></i
            >&nbsp; {{ 'MODULE.DATA_PROCESSING.RIGHT_BAR.QUERY_COMMANDS' | translate }}
          </a>
          <mat-menu #popoverqueryCommands="matMenu" class="tooltips popover pds-popover">
            <h3 class="popover-header">{{ 'MODULE.DATA_PROCESSING.RIGHT_BAR.QUERY_COMMANDS' | translate }}</h3>
            <div class="popover-body">{{ 'MODULE.DATA_PROCESSING.RIGHT_BAR.QUERY_COMMANDS_TOOLTIP' | translate }}</div>
          </mat-menu>
        </h4>
      </div>

      <!-- Query Command Button Panel Body -->
      <div
        id="collapseTwo_1"
        class="panel-collapse collapse"
        [ngClass]="{ show: true }"
        role="tabpanel"
        aria-labelledby="headingTwo_1"
      >
        <div class="panel-body">
          <div class="row clearfix" cdkDropList>
            <div *ngFor="let qryCmd of queryCommands" class="qry-cmd-btn-wrapper">
              <button
                id="pq-cmd-{{ qryCmd.idNum }}"
                (click)="handleCommanditem(qryCmd)"
                class="btn btn-info btn-outline btn-qcommand btn-sm"
              >
                <img [src]="'/assets/images/command_query/new/' + qryCmd.image" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
