<!-- Modal Create User -->
<div class="modal-open">
  <div class="modal d-block" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" *ngIf="user">
          <!-- <mat-progress-bar mode="indeterminate" *ngIf="viewLoading"></mat-progress-bar> -->

          <h5 class="title f-16">
            <loading-component [loading]="viewLoading"></loading-component>
            {{ getTitle() }}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseDialog()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="user">
          <kt-alert *ngIf="hasFormErrors" [type]="" [showCloseButton]="true" (close)="onAlertClose($event)">
            {{ errorMessage }}
          </kt-alert>

          <form [formGroup]="userForm" class="form-horizontal">
            <div class="row clearfix">
              <div class="col-sm-12 form-control-label">
                <label class="text-dark">Username&nbsp;<span class="text-red">*</span></label>
              </div>
              <div class="col-sm-12">
                <mat-form-field class="mat-form-field-fluid">
                  <input
                    matInput
                    type="text"
                    id="username"
                    [ngClass]="{ 'form-control': true }"
                    formControlName="username"
                    [attr.disabled]=""
                  />
                  <mat-error>Username {{ 'MODULE.USER_MANAGEMENT.IR' | translate }} </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-sm-12 form-control-label">
                <label class="text-dark">Email&nbsp;<span class="text-red">*</span></label>
              </div>
              <div class="col-sm-12">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput type="text" id="email" class="form-control" formControlName="email" />
                  <mat-error>Email {{ 'MODULE.USER_MANAGEMENT.IRE' | translate }} </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row clearfix" *ngIf="(environmentType !== 'on_cloud' && !isEditForm) || data.isChangePassword">
              <div class="col-sm-12 form-control-label">
                <label class="text-dark">Password&nbsp;<span class="text-red">*</span></label>
              </div>
              <div class="col-sm-12">
                <mat-form-field class="input-group mat-form-field-fluid">
                  <input 
                    [type]="fieldPassword ? 'text' : 'password'"
                    matInput 
                    id="password" 
                    class="form-control" 
                    formControlName="password" 
                  />
                  <a href="javascript:void(0)">
                    <span class="showPassword">
                        <i
                        class="zmdi"
                        [ngClass]="{
                        'zmdi-eye-off': !fieldPassword,
                        'zmdi-eye': fieldPassword
                        }"
                        (click)="togglePassword()"
                        ></i>
                    </span>
                  </a>
                  <mat-error>Password {{ 'MODULE.USER_MANAGEMENT.IR' | translate }} </mat-error>
                  <p *ngIf="isPasswordUsernameMatch" class="mat-error" style="font-size: 75%" role="alert">
                    {{ 'MODULE.USER_MANAGEMENT.PUMD' | translate }}
                  </p>
                </mat-form-field>
              </div>
            </div>
            <div class="row clearfix" *ngIf="(environmentType !== 'on_cloud' && !isEditForm) || data.isChangePassword">
              <div class="col-sm-12 form-control-label">
                <label class="text-dark"
                  >{{ 'MODULE.USER_MANAGEMENT.PC' | translate }}&nbsp;<span class="text-red">*</span></label
                >
              </div>
              <div class="col-sm-12">
                <mat-form-field class="input-group mat-form-field-fluid">
                  <input
                    [type]="fieldPasswordConfirmation ? 'text' : 'password'"
                    matInput
                    type="password"
                    id="passwordConfirmation"
                    class="form-control"
                    formControlName="passwordConfirmation"
                  />
                  <a href="javascript:void(0)">
                    <span class="showPassword">
                        <i
                        class="zmdi"
                        [ngClass]="{
                        'zmdi-eye-off': !fieldPasswordConfirmation,
                        'zmdi-eye': fieldPasswordConfirmation
                        }"
                        (click)="togglePasswordConfirmation()"
                        ></i>
                    </span>
                  </a>
                  <mat-error>{{ 'MODULE.USER_MANAGEMENT.PCIR' | translate }} </mat-error>
                  <p *ngIf="isPasswordNotMatch" class="mat-error" style="font-size: 75%" role="alert">
                    {{ 'MODULE.USER_MANAGEMENT.PNM' | translate }}
                  </p>
                </mat-form-field>
              </div>
            </div>
            <div class="row clearfix" *ngIf="!data.isChangePassword">
              <div class="col-sm-12 form-control-label">
                <label class="text-dark"
                  >{{ 'MODULE.USER_MANAGEMENT.FN' | translate }}&nbsp;<span class="text-red">*</span></label
                >
              </div>
              <div class="col-sm-12">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput type="text" id="firstname" class="form-control" formControlName="firstname" />
                  <mat-error>{{ 'MODULE.USER_MANAGEMENT.FNR' | translate }} </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row clearfix" *ngIf="!data.isChangePassword">
              <div class="col-sm-12 form-control-label">
                <label class="text-dark"
                  >{{ 'MODULE.USER_MANAGEMENT.LN' | translate }}&nbsp;<span class="text-red">*</span></label
                >
              </div>
              <div class="col-sm-12">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput type="text" id="lastname" class="form-control" formControlName="lastname" />
                  <mat-error>{{ 'MODULE.USER_MANAGEMENT.LNR' | translate }} </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row clearfix" *ngIf="!data.isChangePassword">
              <div class="col-sm-12 form-control-label">
                <label class="text-dark" for="last_run">Group&nbsp;<span class="text-red">*</span></label>
              </div>
              <div class="col-md-12">
                <mat-form-field class="mat-form-field-fluid">
                  <div class="form-line">
                    <mat-select
                      #groupDropdown
                      class="form-control show-tick ms select2"
                      formControlName="selectedGroup"
                    >
                      <mat-option value="">{{ 'MODULE.USER_MANAGEMENT.SG' | translate }}</mat-option>
                      <mat-option *ngFor="let group of groupList" value="{{ group.uuid }}">{{
                        group.groupname
                      }}</mat-option>
                    </mat-select>
                  </div>
                  <mat-error>Group {{ 'MODULE.USER_MANAGEMENT.IR' | translate }} </mat-error>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer" *ngIf="user">
          <button class="btn btn-neutral btn-simple btn-sm close px-0" type="button" (click)="onCloseDialog()">
            {{ 'MODULE.USER_MANAGEMENT.C' | translate }}
          </button>
          <button class="btn btn-info btn-outline btn-sm f-12" type="button" (click)="onSubmit()">
            {{ 'MODULE.USER_MANAGEMENT.S' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
