<!-- Sub Top Navigation -->
<div class="row py-1 sub-top-nav">
    <div class="col-sm-4">
        <div class="row">
            <div class="col-md-auto">
                <button class="btn btn-info btn-outline btn-icon btn-sm btn-action btn-action-mini ls-toggle-btn"><i class="zmdi zmdi-arrow-left"></i></button>
            </div>
            <div class="col-md-10 pr-0">
                <div class="form-group mb-0">                                    
                    <input type="text" class="form-control form-bottomline" placeholder="Default">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 pl-0">
        <button class="btn btn-info btn-outline btn-icon btn-sm btn-action btn-action-mini"><i class="ti-save"></i></button>
        <button class="btn btn-info btn-outline btn-icon btn-sm btn-action btn-action-mini"><i class="ti-file"></i></button>
        <button class="btn btn-info btn-outline btn-icon btn-sm btn-action btn-action-mini"><i class="ti-folder"></i></button>
        <button class="btn btn-info btn-outline btn-sm btn-action"> Preview <i class="zmdi zmdi-format-list-bulleted ml-1"></i></button>
        <button class="btn btn-info btn-outline btn-sm btn-action"> All <i class="zmdi zmdi-play ml-1"></i></button>
        <button class="btn btn-info btn-outline btn-sm btn-action"> Result <i class="zmdi zmdi-assignment ml-1"></i></button>
    </div>
    <div class="col-sm-4 text-right">                
        <span class="mr-3">Process Time <strong>00:00:000</strong></span>
        <button class="btn btn-info btn-outline btn-icon btn-sm btn-action btn-action-mini right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
    </div>
</div>


