<pq-card
  *ngIf="!isLoadingContent"
  [createChildComponent]="createChart"
  (onEventButtonClick)="handleEventButton($event)"
  [eventButtonData]="eventButtonData"
  [chartIndex]="index"
  [title]="title"
  class="grid-stack-item-content"
  [id]="id"
>
</pq-card>

<!-- #region old chart -->
<!-- <div
  pq-bar-async
  *ngIf="typeChart == 'dist_bar' || typeChart == 'horizontal_bar'"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="is_extra"
  [sliceArr]="listSliceArr"
  [rowPosition]="row"
  [isDateFilter]="isDateFilter"
  [isInitialDateFilter]="isInitialDateFilter"
  [token]="token"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div>

<div
  pq-bignumber-async
  *ngIf="typeChart == 'big_number_total'"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="is_extra"
  [sliceArr]="listSliceArr"
  [rowPosition]="row"
  [isDateFilter]="isDateFilter"
  [isInitialDateFilter]="isInitialDateFilter"
  [token]="token"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div>

<div
  pq-gauge-async
  *ngIf="typeChart == 'gauge'"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="is_extra"
  [sliceArr]="listSliceArr"
  [rowPosition]="row"
  [isDateFilter]="isDateFilter"
  [isInitialDateFilter]="isInitialDateFilter"
  [token]="token"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div>

<div
  pq-bubble-async
  *ngIf="typeChart == 'bubble'"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="is_extra"
  [sliceArr]="listSliceArr"
  [rowPosition]="row"
  [isDateFilter]="isDateFilter"
  [isInitialDateFilter]="isInitialDateFilter"
  [token]="token"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div>

<div
  pq-countrymap-async
  *ngIf="typeChart == 'country_map'"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="is_extra"
  [sliceArr]="listSliceArr"
  [zoom]="zoom"
  [center]="center"
  [namemap]="namemap"
  [rowPosition]="row"
  [isDateFilter]="isDateFilter"
  [isInitialDateFilter]="isInitialDateFilter"
  [token]="token"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div>

<div
  pq-histogram
  *ngIf="typeChart == 'histogram'"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="is_extra"
  [sliceArr]="listSliceArr"
  [rowPosition]="row"
  [isDateFilter]="isDateFilter"
  [isInitialDateFilter]="isInitialDateFilter"
  [token]="token"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div>

<div
  pq-d3-directed-force-async
  *ngIf="typeChart == 'directed_force'"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="is_extra"
  [sliceArr]="listSliceArr"
  [rowPosition]="row"
  [isDateFilter]="isDateFilter"
  [isInitialDateFilter]="isInitialDateFilter"
  [token]="token"
  [fdata]="data"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div>

<div
  pq-line-async
  *ngIf="typeChart == 'line' || typeChart == 'dual_line'"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="is_extra"
  [sliceArr]="listSliceArr"
  [rowPosition]="row"
  [isDateFilter]="isDateFilter"
  [isInitialDateFilter]="isInitialDateFilter"
  [token]="token"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div>

<div
  pq-pie-async
  *ngIf="typeChart == 'pie'"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="is_extra"
  [sliceArr]="listSliceArr"
  [rowPosition]="row"
  [isDateFilter]="isDateFilter"
  [isInitialDateFilter]="isInitialDateFilter"
  [token]="token"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div>

<div
  pq-treemap-async
  *ngIf="typeChart == 'treemap'"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="is_extra"
  [sliceArr]="listSliceArr"
  [rowPosition]="row"
  [isDateFilter]="isDateFilter"
  [isInitialDateFilter]="isInitialDateFilter"
  [token]="token"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div>

<div
  pq-sunburst-async
  *ngIf="typeChart == 'sunburst'"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="is_extra"
  [sliceArr]="listSliceArr"
  [rowPosition]="row"
  [isDateFilter]="isDateFilter"
  [isInitialDateFilter]="isInitialDateFilter"
  [token]="token"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div>

<div
  pq-d3-cloud-async
  *ngIf="typeChart == 'word_cloud'"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="is_extra"
  [sliceArr]="listSliceArr"
  [rowPosition]="row"
  [isDateFilter]="isDateFilter"
  [isInitialDateFilter]="isInitialDateFilter"
  [token]="token"
  [fdata]="data"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div>

<div
  pq-filterbox-async
  *ngIf="typeChart == 'filter_box'"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="false"
  [sliceArr]="listSliceArr"
  [rowPosition]="row"
  [token]="token"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div>

<div
  pq-markup-async
  *ngIf="typeChart == 'markup'"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="is_extra"
  [sliceArr]="listSliceArr"
  [rowPosition]="row"
  [isDateFilter]="isDateFilter"
  [isInitialDateFilter]="isInitialDateFilter"
  [token]="token"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div>

<div
  pq-predictive-async
  *ngIf="typeChart == 'scatter' || typeChart == 'predictive'"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="is_extra"
  [sliceArr]="listSliceArr"
  [rowPosition]="row"
  [isDateFilter]="isDateFilter"
  [isInitialDateFilter]="isInitialDateFilter"
  [token]="token"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div>

<div
  pq-pivot-async
  *ngIf="typeChart == 'pivot_table'"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="is_extra"
  [sliceArr]="listSliceArr"
  [rowPosition]="row"
  [isDateFilter]="isDateFilter"
  [isInitialDateFilter]="isInitialDateFilter"
  [token]="token"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div>

<div
  pq-tableview-async
  *ngIf="typeChart == 'table'"
  [config]="data"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="is_extra"
  [sliceArr]="listSliceArr"
  [isDateFilter]="isDateFilter"
  [isInitialDateFilter]="isInitialDateFilter"
  [token]="token"
  [rowPosition]="row"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div>

<div
  pq-tablecomparison-async
  *ngIf="typeChart == 'table_comparison'"
  [config]="data"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="is_extra"
  [sliceArr]="listSliceArr"
  [rowPosition]="row"
  [token]="token"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div>

<div
  pq-heatmap-async
  *ngIf="typeChart == 'heatmap'"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="is_extra"
  [sliceArr]="listSliceArr"
  [rowPosition]="row"
  [token]="token"
  [fdata]="data"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div>

<div
  pq-boxplot-async
  *ngIf="typeChart == 'box_plot'"
  [isTemplate]="'true'"
  [autoResize]="autoResize"
  [isDrag]="isDrag"
  [cardID]="id"
  [myChartID]="myChartID"
  [isView]="isView"
  [index]="index"
  [title]="title"
  [url]="url"
  [slug]="slug"
  [extraFilter]="extra"
  [isFilter]="is_extra"
  [sliceArr]="listSliceArr"
  [rowPosition]="row"
  [token]="token"
  (refresh)="onRefresh(myChartID)"
  (edit)="onEdit(myChartID)"
  (delete)="onDelete()"
  (download)="onDownload($event)"
  (width)="onWidth($event)"
  (filter)="onFilter($event)"
  class="grid-stack-item-content"
  (height)="onHeight($event)"
  [searchResultOptions]="searchResultOptions"
  [isSearchResult]="isSearchResult"
></div> -->
<!-- #endregion old char -->
