<!-- Datasource  -->
<div class="panel panel-primary m-0">
  <div class="panel-heading" role="tab" id="headingOne_1">
    <h4 class="panel-title">
      <a
        [ngClass]="{ toggled: activeColapse.datasource == true }"
        class="menu-toggle text-uppercase"
        role="button"
        (click)="collapsible('datasource')"
      >
        <i
          class="zmdi zmdi-info"
          [matMenuTriggerFor]="showPopover"
          #triggerpopover="matMenuTrigger"
          (mouseover)="triggerpopover.openMenu(); setPopover();"
          (mouseleave)="triggerpopover.closeMenu(); hidePopover()"
        ></i
        >&nbsp; {{ 'MODULE.DATA_VISUAL.CHART.RIGHT_BAR.DATASOURCE' | translate }}
      </a>
      <mat-menu #showPopover="matMenu" class="tooltips popover pds-popover">
          <h3 class="popover-header">{{ 'MODULE.DATA_VISUAL.CHART.RIGHT_BAR.DATASOURCE' | translate }}</h3>
          <div class="popover-body">{{ 'MODULE.DATA_VISUAL.CHART.RIGHT_BAR.DATASOURCE_TOOLTIP' | translate }}</div>
      </mat-menu>
    </h4>
  </div>
  <div [ngClass]="{ show: activeColapse.datasource == true }" class="panel-collapse collapse" role="tabpanel">
    <div class="panel-body">
      <div class="row clearfix">
        <div class="col-sm-12 form-control-label">
          <label for="last_run">{{ 'MODULE.DATA_VISUAL.CHART.RIGHT_BAR.DATASOURCE' | translate }}</label>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <div class="form-line">
              <ng-select
                [items]="datasetList"
                [multiple]="false"
                [closeOnSelect]="true"
                [searchable]="true"
                bindLabel="query"
                (change)="loadDatasetToProps($event)"
                (remove)="buttonNew()"
                [(ngModel)]="queryName"
                [disabled]="parameter.form_data.slice_id > 0 && parameter.form_data.slice_id != undefined ? false : true"
                [ngModelOptions]="{ standalone: true }"
                placeholder="{{ 'MODULE.DATA_VISUAL.CHART.RIGHT_BAR.CH' | translate }} {{
                        'MODULE.DATA_VISUAL.CHART.RIGHT_BAR.DT' | translate
                      }}"
              >
                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                  <div class="ng-value" *ngFor="let item of items">
                    <span class="ng-value-label"> {{ item.query }}</span>
                  </div>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
      </div>

      <div class="row clearfix">
        <div class="col-sm-12 form-control-label">
          <label for="last_run">{{ 'MODULE.DATA_VISUAL.CHART.RIGHT_BAR.DT' | translate }}</label>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <div class="form-line">
              <input type="text" class="form-control" [(ngModel)]="parameter.form_data.datasource_name" />
            </div>
          </div>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-info btn-outline btn-sm w-100 mb-2 m-0 mb-3"
        [ngClass]="id ? '' : 'disabled'"
        (click)=" id ? openModal('EditMetricLegend') : openModal('validation_edit_metric')"
      >
        {{ 'MODULE.DATA_VISUAL.CHART.RIGHT_BAR.OPTIONS.EVL' | translate }}
        <i class="zmdi zmdi-edit f-12 ml-1"></i>
      </button>
    </div>
  </div>
</div>
